/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
    transform-origin: center;
  }

  to {
    transform: scale(1);
  }
}

@keyframes spark-animation {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.card__like-button:hover:after {
  transform: scaleX(1);
}

.card__like-button:after {
  content:'';
  transform: scaleX(0);
  background-color: #000;
  display: block;
  z-index: 0;
  transform-origin: left;
  position: absolute;
  transition: transform 0.5s ease-in-out;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0; 
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.card__like-button:focus {
  outline: none;
}

.button__text {
  font-size: 14px;
  line-height: 90%;
  color:#fff;
  position: inherit;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__like-button {
  max-width: 130px;
  padding: 0px 35px;
  font-family: 'Press Start 2P', sans-serif;
  display: grid;
  place-items: center;
  justify-content: center;
  background: transparent;
  outline: 0;
  font-size: 14px;
  border: 2px solid #000;
  position: relative;
  transition: box-shadow 0.3s ease;
}
